<div class="container" style="margin-top: 3em">

  <h4>Formularios <small>Data</small></h4>
  <hr>
  <form [formGroup]="forma" (ngSubmit)="guardarCambios()">

    <div formGroupName="nombrecompleto">

      <div class="form-group row" >
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">

          <input class="form-control"
                 [ngClass]="{ 'border-danger': forma.get('nombrecompleto.nombre').errors?.required }"
                 type="text"
                 placeholder="Nombre"
                 formControlName="nombre"/>
          <div *ngIf="forma.get('nombrecompleto.nombre').errors?.required" class="text-danger" >
            El nombre es requerido
          </div>
          <div *ngIf="forma.get('nombrecompleto.nombre').errors?.minlength" class="text-danger" >
            Se deben de escribir por lo menos {{forma.get('nombrecompleto.nombre').errors.minlength.requiredLength}} caracteres
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Apellido</label>
        <div class="col-8">

          <input class="form-control"
                 type="text"
                 placeholder="Apellido"
                 formControlName="apellido">
        </div>
      </div>

    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Username</label>
      <div class="col-md-8">

        <input class="form-control"
               type="text"
               placeholder="Username"
               formControlName="username">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Password</label>
      <div class="col-md-8">

        <input class="form-control"
               type="password"
               placeholder="Password"
               formControlName="password1">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Repita Password</label>
      <div class="col-md-8">

        <input class="form-control"
               type="password"
               placeholder="Repita Password"
               formControlName="password2">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Correo</label>
      <div class="col-md-8">

        <input class="form-control"
               type="email"
               placeholder="Correo electrónico"
               formControlName="correo">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Pasatiempos</label>
      <div class="col-md-8" formArrayName="pasatiempos">

        <input class="form-control"
               *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i = index"
               type="text"
               [formControlName]="i">
      </div>

      <button type="button" (click)="agregarPasatiempo()" class="btn btn-primary" >Nuevo</button>
    </div>


    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit" [disabled]="!forma.valid" class="btn btn-outline-primary">
          Guardar
        </button>
      </div>
    </div>

  </form>

  {{ forma.valid }}
  <br>
  {{ forma.status }}
</div>
